#projects {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#projects .porjects__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#projects .projects__row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0;
}

#projects .projects__row .project {
    max-width: 450px;
    border: 1px solid #000;
    margin: 5px 0px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
} 

#projects .projects__row .project img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#projects .projects__row .project:hover img {
    filter: grayscale(0);
}

#projects .projects__row .project .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#projects .projects__row .project .info a {
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #000;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#projects .projects__row .project .info .repo {
    background-color: #ff5080;
    color: #fff;
}

#projects .projects__row .project .info .repo:hover {
    opacity: 0.8;
}

#projects .projects__row .project:hover .info {
    opacity: 1;
    bottom: 0;
}